<app-header titulo = "card"></app-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the
      woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline">
      </ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus aperiam ad odio debitis consectetur animi quisquam, earum saepe iure assumenda minus expedita nesciunt, maxime a! Ducimus repellat possimus quibusdam.
    </ion-card-content>


  </ion-card>

  <ion-card mode="ios">
    <img src="https://images.hdqwalls.com/download/snow-covered-mountains-8k-sf-3840x2160.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta natus aperiam ad odio debitis consectetur animi quisquam, earum saepe iure assumenda minus expedita nesciunt, maxime a! Ducimus repellat possimus quibusdam.
    </ion-card-content>
  </ion-card>

</ion-content>
